@import "./mixin.scss";
@import "./func.scss";



// old
$white: white;
$white-ter: #fafafa;
$red: #E12846;
$light-grey: #c8c8c8;
$dark-grey: #646464;
$background-color: #fafafa;
$light-white: #fafafa;
$dark-background-color: #f0f0f0;
$blue: #28A7E1;
$dark-blue: #088fcd;
$thema-blud: #0c63e2;
$black: #282828;
$dark-black: #131313;
$grey: #808080;
$dark-yellow: #ab910c;
$blue-gray: #BACCD4;
$light-black: #303030;
$facebook-blue: #4367B2;
$facebook-blue-hover: #355a9b;


$primary: $blue;


@mixin mymobile {
  @media only screen and (max-width: 1024px) {
      @content;
  }
}


.container {
  max-width: 1152px;
}

/* hero background-cover */
.hero {

  &.is-large {
    @include mymobile {

      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &.is-medium {
    @include mymobile {

      padding-top: 9rem;
      padding-bottom: 9rem;
    }
  }


  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

}


.fixed-navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  /*overflow: hidden;*/
  z-index: 10;
}
.iconImg:hover{
    opacity: 0.8;
}

// https://github.com/kenwheeler/slick/issues/179#issuecomment-204768021
// .slick-track{
//     display: flex;
//
//     .slick-slide{
//         display: flex;
//         height: auto;
//         align-items: center; //optional
//         justify-content: center; //optional
//         &>div {
//           display: flex;
//           height: 100%;
//         }
//     }
// }

body:after {
	content: url('https://ditfjx9w4x3vl.cloudfront.net/img/03-case-button-3d-hover.png')
            url('https://ditfjx9w4x3vl.cloudfront.net/img/03-case-button-cnc-hover.png')
            url('https://ditfjx9w4x3vl.cloudfront.net/img/03-case-button-laser-hover.png');
	display: none;

}

// 主题色
$black: #1C1E20;
$blue: #0C63E2;
$yellow: #F5CE00;


$black_white_1: #1f1f1f;  // 一级主文本
$black_white_2: #5c5c5c;  // 二级辅助文本
$black_white_3: #999;     // 三级辅助文本；引用字色
$black_white_4: #c2c2c2;  // 四级辅助文本；不可用文本；引导性文本
$black_white_5: #d6d6d6;  // 深灰分割线
$black_white_6: #e0e0e0;  // 浅灰分割线
$black_white_7: #ebebeb;  // 图标/list悬停底色-hover
$black_white_8: #f5f5f5;  // 图标/list悬停底色-press


$link: #0C63E2; // 功能色/链接
$success: #43C01E; // 功能色/成功
$warnning: #F2AD3D; // 功能色/警告提示
$error: #E12E42; // 功能色/警示


$btn-hover-blue: #0A4FB5;  // primary按钮hover状态

$radius: 42px;
$header-height: 60px;

$breakPoint_s: 375px;
$breakPoint_m: 768px;
$breakPoint_l: 1200px;
$breakPoint_xl: 1440px;
$breakPoint_xxl: 1920px;
$breakPoint_xxxl: 2560px;

$fontFamily: 'Roboto';

